<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Edit Modal-->
<div class="editForm" th:fragment="myEditModal">
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="editModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Details Calon Mitra</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="needs-validation" th:action="@{/updateRegistrant}" onsubmit="myFunction()"  method="post"
                      th:object="${registrant}" enctype="multipart/form-data" novalidate>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="id" name="id" value="" th:field="*{id}" >
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="Service" class="form-label">Jenis Layanan:</label>
                                <select class="custom-select" th:field="*{service}" id="Service" required>
                                    <option value="" selected>Pilih Jenis Layanan</option>
                                    <option value="Get Clean">Get Clean</option>
                                    <option value="Get Massage">Get Massage</option>
                                    <option value="Get Beauty">Get Beauty</option>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih jenis layanan</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="FullName" class="form-label">Nama Lengkap:</label>
                                <input type="text" class="form-control" id="FullName"
                                       th:field="*{fullName}" required>
                                <div class="invalid-feedback">
                                    Nama Lengkap tidak boleh kosong
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="NikKtp" class="form-label">NIK Ktp:</label>
                                <input type="text" pattern="\d*" class="form-control"
                                       id="NikKtp" th:field="*{nikKtp}" required>
                                <div class="invalid-feedback">
                                    NIK Ktp tidak boleh kosong
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="Gender" class="form-label">Jenis Kelamin:</label>
                                <select class="custom-select" id="Gender" th:field="*{gender}" required>
                                    <option value="" selected>Pilih Jenis Kelamin</option>
                                    <option value="Pria">Pria</option>
                                    <option value="Wanita">Wanita</option>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih jenis kelamin</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="PhoneNumber" class="form-label">No Handphone:</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend">+62</span>
                                    <input type="number" class="form-control" id="PhoneNumber" th:field="*{phoneNumber}"
                                           aria-describedby="inputGroupPrepend" required>
                                </div>
                                <div class="invalid-feedback">
                                    No Handphone tidak boleh kosong
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="Email" class="form-label">Email:</label>
                                <input type="email" class="form-control" th:field="*{email}"
                                       id="Email" required>
                                <div class="invalid-feedback">
                                    Email tidak boleh kosong
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="Address" class="form-label">Alamat Domisili:</label>
                                <textarea class="form-control" id="Address" th:field="*{address}" required></textarea>
                                <div class="invalid-feedback">
                                    Alamat Domisili tidak boleh kosong
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <select class="custom-select" id="Prov" onchange="showSelectKab(this)"
                                        th:field="*{provinsi}" required>
                                    <option value="">Pilih Provinsi</option>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih provinsi</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select class="custom-select" id="Kab" onchange="showSelectKec(this)"
                                        th:field="*{kabupaten}" disabled required>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih kabupaten</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <select class="custom-select" id="Kec" onchange="showSelectKel(this)"
                                        th:field="*{kecamatan}" disabled required>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih kecamatan</div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <select class="custom-select" id="Kel"
                                        th:field="*{kelurahan}" disabled required>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih kelurahan</div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="WorkingExp" class="form-label">Pengalaman Pekerjaan</label>
                                <input type="text" class="form-control" th:field="*{workingExperience}"
                                       id="WorkingExp" required>
                                <div class="invalid-feedback">
                                    Pengalaman Pekerjaan tidak boleh kosong
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="CurrentJob" class="form-label">Pekerjaan Saat ini</label>
                                <input type="text" class="form-control" th:field="*{currentJob}"
                                       id="CurrentJob" required>
                                <div class="invalid-feedback">
                                    Pekerjaan Saat ini tidak boleh kosong
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="EName" class="form-label">Nama Kontak Darurat</label>
                                <input type="text" class="form-control" th:field="*{emergencyName}"
                                       id="EName" required>
                                <div class="invalid-feedback">
                                    Nama Kontak Darurat tidak boleh kosong
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="EPhoneNumber" class="form-label">No Handphone Kontak Darurat</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepended">+62</span>
                                    <input type="number" class="form-control" id="EPhoneNumber"
                                           th:field="*{emergencyPhoneNumber}"
                                           aria-describedby="inputGroupPrepended" required>
                                    <div class="invalid-feedback">
                                        No Handphone Kontak Darurat tidak boleh kosong
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-12 mb-3">
                                <label for="EPhoneNumber" class="form-label">Hubungan Kontak Darurat</label>
                                <select class="custom-select" id="ERelationship"
                                        th:field="*{emergencyRelationship}" required>
                                    <option value="">Pilih Hubungan Kontak Darurat</option>
                                    <option value="Ibu">Ibu</option>
                                    <option value="Bapak">Bapak</option>
                                    <option value="Suami">Suami</option>
                                    <option value="Istri">Istri</option>
                                    <option value="Anak">Anak</option>
                                    <option value="Saudara">Saudara</option>
                                    <option value="Paman">Paman</option>
                                    <option value="Bibi">Bibi</option>
                                    <option value="Lainnya">Lainnya</option>
                                </select>
                                <div class="invalid-feedback">Kamu belum memilih Hubungan Kontak Darurat</div>
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <p class="font-weight-bold">Foto Ktp :</p>
                                <div class="text-center">
                                    <img id="imageKtpEdit" class="rounded img-fluid" alt="Foto Ktp"
                                         style="width:500px;height:385px;object-fit:contain">
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <p class="font-weight-bold">Foto Selfie Ktp :</p>
                                <div class="text-center">
                                    <img id="imageSelfieKtpEdit" class="rounded img-fluid" alt="Foto Selfie Ktp"
                                         style="width:500px;height:385px;object-fit:contain">
                                </div>
                            </div>
                        </div>
<!--                        <div class="form-row">-->
<!--                            <div class="col-md-6 mb-3">-->
<!--                                <div class="custom-file">-->
<!--                                    <input type="file" class="custom-file-input" name="photoKtp" accept="image/png, image/jpeg"-->
<!--                                           id="PhotoKtp" required>-->
<!--                                    <label class="custom-file-label" for="PhotoKtp">Update file foto KTP</label>-->
<!--                                    <div class="invalid-feedback">Kamu belum mengupload file foto KTP</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                            <div class="col-md-6 mb-3">-->
<!--                                <div class="custom-file">-->
<!--                                    <input type="file" class="custom-file-input" name="selfieKtp" accept="image/png, image/jpeg"-->
<!--                                           id="SelfieKtp" required>-->
<!--                                    <label class="custom-file-label" for="SelfieKtp">Update file foto selfie dengan KTP</label>-->
<!--                                    <div class="invalid-feedback">Kamu belum mengupload file foto selfie dengan KTP</div>-->
<!--                                </div>-->
<!--                            </div>-->
<!--                        </div>-->
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
                        <button class="btn btn-primary" type="submit" >Ubah</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>