<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<body>
<!-- Warning Modal-->
<div class="myRemove" th:fragment="myWarningModal">
    <div class="modal fade" tabindex="-1" id="warningModal" role="dialog"
         th:attrappend="id=${registrant.id}" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">Apakah Anda yakin ingin menghapus data tersebut?</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Tidak</button>
                    <a class="btn btn-danger" th:href="@{/deleteRegistrantById/{id}(id=${registrant.id})}">Ya</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>