<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="myAbout" id="about" class="about">
        <div class="container-fluid">

            <div class="row">
                <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch" data-aos="fade-right">
                    <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
                </div>

                <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5" data-aos="fade-left">
                    <h3>Tentang Kami</h3>
                    <p>GetHelp merupakan solusi permasalahan gaya hidup dengan prinsip tolong menolong melalui teknologi. Perjalanan ini dibangun berdasarkan dedikasi kami yang selalu ada untuk menciptakan pengalaman tanpa batas bagi Pelanggan dengan memberikan keahlian yang berkualitas dari Helper yang profesional dan bertanggung jawab , serta mampu memberikan dampak sosial ekonomi kepada Helper kami.</p>
                    <p>Layanan dari GetHelp, meliputi:</p>
                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="100">
                        <div class="icon"><i class='bx bxs-purchase-tag'></i></div>
                        <h4 class="title"><a th:href="@{/getclean}">GetClean</a></h4>
                        <p class="description">Pembersihan Rumah, Apartemen, Kost, Kantor, Setrika Baju, Fogging Disinfectant Hunian dan Kendaraan, Cuci Sofa, Cuci Kasur dan Kamar Mandi.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="200">
                        <div class="icon"><i class='bx bxs-purchase-tag'></i></div>
                        <h4 class="title"><a th:href="@{/getmassage}">GetMassage</a></h4>
                        <p class="description">Pijat Relaksasi, Perawatan Tubuh, Pijat Refleksi, Perawatan Wajah, Perawatan Tangan dan Kaki, Perawatan Ibu dan Bayi.</p>
                    </div>

                    <div class="icon-box" data-aos="zoom-in" data-aos-delay="300">
                        <div class="icon"><i class='bx bxs-purchase-tag'></i></div>
                        <h4 class="title"><a th:href="@{/getbeauty}">GetBeauty</a></h4>
                        <p class="description">Manicure, Pedicure, Creambath & Hair Dry, Blow Out, Hair Cutting, Hairdo, Hair Coloring, Make Up dan Eyelash Extensions.</p>
                    </div>

                </div>
            </div>

        </div>
    </section>
</body>
</html>