<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="myDetails" id="details" class="details">
        <div class="container">

            <div class="row content">
                <div class="section-title aos-init aos-animate" data-aos="fade-up">
                    <h2>GetHelp</h2>
                    <p>KENAPA PILIH GETHELP?</p>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-4" data-aos="fade-right">
                    <img src="assets/img/details-1.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-4" data-aos="fade-up">
                    <h3>Standard Pelayanan Terbaik</h3>
                    <p class="font-italic">
                        Berikut adalah beberapa standard tentang pelayanan kami, diantaranya:
                    </p>
                    <ul>
                        <li><i class="icofont-check"></i> Protokol kesehatan<br>
                            <p>Dimasa pandemi saat ini kita selalu menerapkan prinsip protokol yang telah ditetapkan, dari penakaian masker hingga sterilisasi alat- alat yang digunakan.</p>
                        </li>
                        <li><i class="icofont-check"></i> Menjaga kesehatan<br>
                            <p>Pemeriksaan kesehatan rutin yang ditangani oleh tenaga medis.</p>
                        </li>
                        <li><i class="icofont-check"></i> Service Excellent<br>
                            <p>Selalu memberikan yang terbaik di setiap pelayanan yang berlandaskan sop yang telah ditetapkan.</p>
                        </li>
                        <li><i class="icofont-check"></i> Rapid Test<br>
                            <p>Membantu pemerintah dalam rangka menahan laju penyebaran covid 19.</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-4 order-1 order-md-2" data-aos="fade-left">
                    <img src="assets/img/details-2.jpg" class="img-fluid" alt="">
                </div>
                <div class="col-md-8 pt-5 order-2 order-md-1" data-aos="fade-up">
                    <h3>Mitra Berpengalaman</h3>
                    <p>
                        Para helper kami adalah helper pilihan yang memang memiliki pengalaman minimal dua tahun. Para helper telah di uji keahlian nya oleh trainer kami yang profesional.
                    </p>
                </div>
            </div>

        </div>
    </section>
</body>
</html>