<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="myOurService" id="team" class="team">
        <div class="container">

            <div class="section-title aos-init aos-animate" data-aos="fade-up">
                <h2>Layanan</h2>
                <p>Layanan Kami</p>
            </div>

            <div class="row aos-init aos-animate" data-aos="fade-left">

                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="100">
                        <div class="pic"><img src="assets/img/team/GetClean.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>GetClean</h4>
                            <span>Layanan pembersihan serta penataan rumah dan apartement. Dengan vendor terlatih dan terpercaya.</span>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
                    <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="200">
                        <div class="pic"><img src="assets/img/team/GetMassage.jpg" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>GetMassage</h4>
                            <span>Layanan kebugaran keluarga modern, Dengan proses order cepat, masseur profesional terampil.</span>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mt-5 mt-lg-0">
                    <div class="member aos-init aos-animate" data-aos="zoom-in" data-aos-delay="300">
                        <div class="pic"><img src="assets/img/team/GetBeauty.png" class="img-fluid" alt=""></div>
                        <div class="member-info">
                            <h4>GetBeauty</h4>
                            <span>Layanan kecantikan, Dengan proses order cepat vendor terlatih dan terpercaya.</span>
                            <div class="btn-wrap">
                                <a href="#" class="btn-buy">Selengkapnya</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</body>
</html>