<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <section th:fragment="myTestimonials" id="testimonials" class="testimonials">

        <div class="container">
            <div class="owl-carousel testimonials-carousel" data-aos="zoom-in">

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/user.png" class="testimonial-img" alt="">
                    <h3>Puspita Rahayu</h3>
                    <h4>Ibu rumah tangga</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Vendor terpercaya dgn jajaran admin yg sangat kompeten, serta para helper yg berkualitas dgn melalui bbrp tahapan seleksi yg ketat disertai tes kesehatan berkala sbg syarat mutlak helper, insyaallah tdk akan mengecewakan penggunanya. GetHelp get Clean everyone.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/user.png" class="testimonial-img" alt="">
                    <h3>Ilah Jamilah</h3>
                    <h4>Profesional</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Aplikasi ini sangat d percaya dan mempunyai helper"yg handal yg berpengalaman d bidang kebersihan tentunya tidak d ragukan lg, jd kl cari buat bersih"rmh, apartemen, kosan atau gosok bajuoun bisa, silahkan order skrng d jamin tidak kecewa.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/user.png" class="testimonial-img" alt="">
                    <h3>Meiske Damima</h3>
                    <h4>Profesional</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Puji tuhan,ada pengganti goclean ,mantap helpernya pekerjaanya bersih sekali,sdh lulus tes kesehatan pula,recomended bgd buat yg sibuk dan tdk sempat merapikan rumah,kost maupun apartemennya.mannntaaapppp kaliii.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/user.png" class="testimonial-img" alt="">
                    <h3>Eva Rahmawati</h3>
                    <h4>Profesional</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Vendor cleaning terbaru dan recomend banget, dgn helper yg sudah teruji, baik kesehatan, profesional kerjanya.... Tak akan mengecewakan.
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

                <div class="testimonial-item">
                    <img src="assets/img/testimonials/user.png" class="testimonial-img" alt="">
                    <h3>Junaenah Junaenah</h3>
                    <h4>Profesional</h4>
                    <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        Rekomendasi banget buat yang mulai sibuk dengan pekerjaan dan gk ada yg bantu bersihkan rumah helper berpengalaman 👍👏
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                    </p>
                </div>

            </div>

        </div>
    </section>
</body>
</html>