<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<!-- Edit Modal-->
<div class="onboarding" th:fragment="myOnboardingModal">
    <div class="modal fade" id="onboardingModal" tabindex="-1" role="dialog" aria-labelledby="onboardingModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Onboarding Calon Mitra</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="needs-validation" th:action="@{/onboardingCalonMitra}" method="post"
                      th:object="${calonmitra}" novalidate>
                    <div class="modal-body">
                        <input type="text" class="form-control" id="id" name="id" value="" th:field="*{id_calonmitra}" >

                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="FullName" class="form-label">Nama Lengkap:</label>
                                <input type="text" class="form-control" id="FullName"
                                       th:field="*{namaCalonMitra}" disabled>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="NikKtp" class="form-label">NIK Ktp:</label>
                                <input type="text" pattern="\d*" class="form-control"
                                       id="NikKtp" th:field="*{nikKtpCalonMitra}" disabled>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col-md-6 mb-3">
                                <label for="PhoneNumber" class="form-label">No Handphone:</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="inputGroupPrepend">+62</span>
                                    <input type="number" class="form-control" id="PhoneNumber" th:field="*{noHpCalonMitra}"
                                           aria-describedby="inputGroupPrepend" disabled>
                                </div>
                            </div>
                            <div class="col-md-6 mb-3">
                                <label for="Email" class="form-label">Email:</label>
                                <input type="email" class="form-control" th:field="*{emailCalonMitra}"
                                       id="Email" disabled>
                            </div>
                        </div>
                        <div class="form-row" th:object="${keahlian}">
                            <div class="col-md-12 mb-3">
                                <label class="form-label">Keahlian Calon Mitra:</label>
                                <select class="custom-select" disabled>
                                    <option th:each="keahlian : ${listKeahlian}" th:value="${keahlian.id_keahlian}" th:text="${keahlian.namaKeahlian}">

                                    </option>
                                </select>
                                <div class="invalid-feedback">
                                    Kamu belum memilih status keahlian calon mitra
                                </div>
                            </div>
                        </div>
                        <div th:object="${prosesCalonmitra}">
                            <div class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="statusOnboarding" class="form-label">Status Onboarding</label>
                                    <select class="custom-select" id="statusOnboarding"
                                            onchange="showDiv(this)" th:field="*{kode_proses}" required>
                                        <option value="">Pilih Status Onboarding</option>
                                        <option value="13">Lulus</option>
                                        <option value="23">Gagal</option>
                                    </select>
                                    <div class="invalid-feedback">
                                        Kamu belum memilih status onboarding
                                    </div>
                                </div>
                            </div>
                            <div id="failed_div" class="form-row">
                                <div class="col-md-12 mb-3">
                                    <label for="reasonFailed" class="form-label">Alasan Gagal:</label>
                                    <textarea class="form-control" id="reasonFailed" th:field="*{alasanGagal}"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Batal</button>
                        <button class="btn btn-primary" type="submit" >Submit</button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>